*{
    margin: 0;
    padding: 0;
}

:root{
    --header: #3aafa9;
    --btn: #17252a;
    --bkg: #def2f1;
}

body{
    background: var(--bkg);
    width: 100vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* UNIVERSAL */
.container{
    padding: 30px;
}

.hide{
    display: none;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

button{ 
    border: none;
    height: 30px;
    width: 150px;
    outline: none;
    background: var(--btn);
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}


button:hover{
    background: #172a31;
}

input[type="text"], input[type="email"], input[type="text"], input[type="tel"], input[type="password"], input[type="number"] {
    border: 1px solid black ;
    margin-bottom: 10px;
    outline: none;
    padding: 5px;
    height: 30px;
    font-size: 1rem;
    border-radius: 3px;
    width: 250px;

}

input[type="submit"] {
    border: none;
    height: 30px;
    width: 150px;
    outline: none;
    background: var(--btn);
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

select{
    border: none;
    height: 30px;
    width: 250px;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 10px;
    background: #3aafa9;
}

.block{
    display: block;
}

form{
    padding: 5px;
}

label{
    display: block;
}

input[type="file"]{
    margin: 10px auto;
}

/* COLORS */
.go{
    background: green;
    color: white;
    text-shadow: 0px 0px 8px #000000;
}

.go:hover{
    background: rgb(0, 190, 0);
}

.reg{
    background: lightseagreen;
    color: white;
    text-shadow: 0px 0px 8px #000000;
}

.reg:hover{
    background: rgb(38, 139, 134);
}

/* HEADER */
header{
    height: 350px;
    background-image: url('../images/thumbsup.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

nav{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    text-shadow: 2px 2px 4px #000000;
    
}

.logo{
    font-size: 1.4rem;
    color: var(--btn);
    letter-spacing: 3px;
    text-shadow: none;
}

.nav-content{
    display: flex;
    justify-content: space-evenly;
}

.nav-item a{
    margin: 0 10px;
    padding: 10px;
    color: #fff;
}

.nav-item a:hover{
    background: var(--btn);
}



.signin{
    grid-column: 7 / 8;
    justify-self: right;
    align-self: center;
}

.btn-signin:hover{
    background: #1c363f;
}

.hdr-vote, .hdr-join, .hdr-sub{
    align-self: center;
}



.signup{
    justify-self: right;
    align-self: center;
}

.bars {
    display: none;  
}

.slogan-container{
    display: grid;
    justify-content: center;
    align-content: center;
    height: 200px;
    padding: 10px;
}


.slogan{
    display: none;
    color: #fff;
    font-size: 1.5rem;
    text-shadow: 0px 0px 8px #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media(max-width: 475px){
    .slogan{
        font-size: 1rem;
    }
}

.slogan-anime{
    display: inline;
    overflow: hidden;
    border-right: .15em solid black;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 2px;
    animation: 
        typing 3.5s steps(20, end), 
        blink-caret 1s  infinite;
}

@keyframes typing {
    from { width: 0ch }
    to { width: 23ch }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }

}

.register{
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 200px));
    justify-content: center;

}

.register a {
    align-self: center;
    justify-self: center;
    border-bottom: 30px;
}


/* HOW TO VOTE CONTAINER */
.howToVote-container {
    height: 300px;
    padding: 30px;
    text-align: center;
    
}

.howToVote{
    display: grid;
    grid-template-columns: 10px 1fr 5px 1fr 5px 1fr 5px 1fr 5px 10px;
    grid-template-rows: auto;
    height: 200px;
    margin: 10px;
    
}

.light{
    background: #b3c5c4;
    color: #fff;
}

.lg{
    background: #3aafa9;
    color: #fff;

}

.dark{
    background: #17252a;
    color: white
}

.darkg{
    background: #2b7a78;
    color: white;
}



.how-box{
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.5);
    padding: 5px;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    transition: 0.5s;

}

.how-box p {
    align-self: center;
    justify-self: center;
    text-align: center
}

.how-box i {
    font-size: 2rem;
    align-self: center;
    justify-self: center;
}

.how-box:hover{
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.5);
}

.step1{
    grid-column: 2 / 4;
    grid-row: 1;
    height: 80%;
    z-index: 4;
    align-self: center;
    
    
}

.step2 {
    grid-column: 3 / 6;
    grid-row: 1;
    height: 85%;
    z-index: 2;
    align-self: center;
}

.step3 {
    grid-column: 5 / 8;
    grid-row: 1;
    height: 95%;
    z-index: 3;
    align-self: center;
}

.step4 {
    grid-column: 7 / 10;
    grid-row: 1;
    height: 90%;
    z-index: 1;
    align-self: center;

}




/* BECOME A CANDIDATE */

.candidate-container{
    padding: 30px;
    background: grey;
    color: white;
    text-align: center;
}

@media(max-width:480px){

    .howToVote-container {
        height: 400px;
        padding: 30px;
        
    }

    .candidate-container{
        height: 400px;
    }

    .howToVote{
        grid-template-rows: auto auto;
        height: 300px
        
    }

    .step1{
        grid-column: 2 / 6; 
        height: 100%;
    }

    .step2{
        grid-column: 5 / 11;
        height: 90%;
    }

    .step3 {
        grid-column: 1 / 5;
        grid-row: 2;

    }
    
    .step4 {
        grid-column: 5 / 10;
        grid-row: 2;
        height: 100%;
    
    }
}


/* NEWSLETTER */
.news-container{
    padding: 30px;
    height: 100px;
    text-align: center;
}

.news-form{
    background: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    height: auto;
    padding: 20px;
    display: grid;
    margin: 10px auto;
    max-width: 1000px;

}

.news-form form {
    width: 100%;
    text-align: center;


}

.news-form input{
    height: 20px;
    border: 1px solid lightgray;
    border-radius: 3px;
    width: 60%;
    padding: 5px;
    margin: 5px;

}

.hdr-bkg{
    background: var(--header);
    border-bottom:1px solid #17252a;
}

/* FORMS CONTAINER */
.forms-container{
    display: grid;
    grid-template-columns:  1fr 1fr 50px  1fr 1fr;
    grid-template-rows: 50px 30px 20px auto auto 50px;
    width: 100vw;
    height: 500px;
}

.img-container{
    grid-column: 3 / 4;
    grid-row: 2 / 4;
    z-index: 1;
}

.img-container img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


 
.form-box{
    grid-column: 2 / 5;
    grid-row: 3 / 5;
    background: var(--header);
    justify-self: center;
    padding: 30px;
    max-width: 400px;
    border-radius: 5px;
}

.form-box form{
    margin-bottom: 10px;
    text-align: center;
}

.form-box h2{
    text-align: center;
    margin-bottom: 20px;
}

.form-box form input{
    width: 100%;
    margin-bottom: 20px;
}

.form-box input{
    border: 1px solid #17252a;
    background: #fff;
    outline: none;
    height: 30px;
    color: #111;
    font-size: 1rem;
}

.form-box p{
    font-size: 12px;
    text-align: center;
    margin: 5px;
}


.form-box a{
    color: #fff;
}

.form-box a:hover{
    color: var(--btn);
    cursor: pointer;
}


/* FOOTER */

.space{
    height: 100px;
}

.space2{
    height: 30px;
}
footer{
    position:  fixed;
    z-index: 10;
    bottom: 0;
    color: #fff;
    padding: 1px;
    text-align:center;
    border-top: 2px solid #17252a;
    width: 100%;
    height: 20px;
    background: var(--header);
    
  }
  
  footer a {
    text-decoration: none;
    color: #fff;
  
  }



@media(max-width:780px){
    .bars{
        display: block;
        align-self: center;
        justify-self: center;
    }

    .nav-item a{
        border-bottom: none;
    }

    

    .nav-content{
        position: absolute;
        background: #172a31;
        padding: 5px;
        display: block;
        opacity: 1;
        top: 30px;
        right: 0;
        text-align: center;
        z-index: 1000;
        transition: 0.4s;
        border: 1px solid
    }

    .nav-content-item{
        display: flex;

    }

    .nav-animate{
        opacity: 0;
        display: none;
    }

    .nav-item{
        display: block;
        padding: 5px;
    }

    .nav-item a{
        margin: 0 10px;
        padding: 10px;
        color: #fff;
       
    }
    
    .nav-item a:hover{
        background: none
    }
    

    

}