*{
    margin: 0;
    padding: 0;
}

:root{
    --header: #3aafa9;
    --btn: #17252a;
    --bkg: #def2f1;
}

body{
    background: #fff;
    width: 100%;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* UNIVERSAL */
.container{
    padding: 30px;
}

.important{
    color: red;
}

.hide{
    display: none;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

p{
    margin: 10px auto;
}

button{ 
    border: none;
    height: 50px;
    width: 150px;
    outline: none;
    background: var(--btn);
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1.2rem;
}


input[type="text"], input[type="email"], input[type="text"], input[type="tel"], input[type="password"], input[type="number"] {
    border: 1px solid black ;
    margin-bottom: 10px;
    outline: none;
    padding: 5px;
    height: 30px;
    font-size: 1rem;
    border-radius: 3px;
    width: 250px;

}

input[type="submit"] {
    border: none;
    height: 30px;
    width: 150px;
    outline: none;
    background: var(--btn);
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

select{
    height: 30px;
    width: 250px;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 10px;
}

.block{
    display: block;
}

form{
    padding: 5px;
}

label{
    display: block;
    font-size: 1.1rem;
}

input[type="file"]{
    margin: 10px auto;
}

/* COLORS */
.go{
    background: green;
    color: white;
    font-size: 1rem;
    font-weight: 900;
}


.err-text{
    color: #fff;
    background: red;
    border-radius: 2px;
}

.err-input{
    border-color: red; 
}

/* HEADER */
header{
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(224, 230, 226, 0.3),
        rgba(10, 190, 34, 0.5)),
     url('../images/e-Voting.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}

.hdr-bkg{
    background: #3c9848;
    border-bottom:1px solid #17252a;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

nav{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    font-weight: bold
    
}

.hdr-bkg nav{
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
}

.logo{
    font-size: 1.4rem;
    color: var(--btn);
    letter-spacing: 3px;
    text-shadow: none;
    color: #fff;
}

.nav-content{
    display: flex;
    justify-content: space-evenly;
}

.nav-content-item{
    display: flex;

}

.nav-item a{
    margin: 0 10px;
    padding: 5px;
    color: #fff;
    
}

.nav-item a:hover{
    background: #fff;
    color: var(--btn);
}



.signin{
    grid-column: 7 / 8;
    justify-self: right;
    align-self: center;
}

.btn-signin{
    height: 50px;
}

.btn-signin:hover{
    background: #1c363f;
}

.btn-signup{
    height: 50px;
}

.hdr-vote, .hdr-join, .hdr-sub{
    align-self: center;
}



.signup{
    justify-self: right;
    align-self: center;
}

.bars {
    display: none;  
}

.slogan-container{
    display: grid;
    justify-content: center;
    align-content: center;
    height: 400px;
    padding: 10px;
}


.slogan{
    display: none;
    color: #fff;
    font-size: 3rem;
    text-shadow: 0px 0px 8px #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media(max-width: 475px){
    .slogan{
        font-size: 1rem;
    }
}

.slogan-anime{
    display: inline;
    overflow: hidden;
    border-right: .15em solid black;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 2px;
    animation: 
        typing 3.5s steps(20, end), 
        blink-caret 1s  infinite;
}

@keyframes typing {
    from { width: 0ch }
    to { width: 23ch }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }

}

.register{
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, auto));
    justify-content: center;

}

.register a {
    align-self: center;
    justify-self: center;
    border-bottom: 30px;
}

.register button{
    border: 2px solid #fff;
    height: 70px;
    width: 250px;
    outline: none;
    margin: 0 20px;
    background: transparent;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1.5rem;
    transition: 0.5s;
}

.register button:hover{
    background: #fff;
    color: black;
    
}


/* HOW TO VOTE CONTAINER */
.howToVote-container {
    height: 300px;
    padding: 30px;
    text-align: center;
    
}

.howToVote{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-template-rows: auto;
    height: 200px;
    margin: 10px;
    
}

.light{
    background: #b3c5c4;
    color: #fff;
}

.lg{
    background: #3aafa9;
    color: #fff;

}

.dark{
    background: linear-gradient(
    to right bottom,
    rgba(85, 223, 85, 0.8),
    rgba(8, 196, 33, 0.8));
    color: white;
}

.darkg{
    background: linear-gradient(
    to right bottom,
    rgb(85, 225, 85),
    rgb(20, 225, 20));
    color: white
}

.dark-btn{
    background: linear-gradient(
        to right bottom,
        rgba(85, 223, 85, 0.8),
        rgba(8, 196, 33, 0.8));
    color: white;
    transition: 2s;
}

.dark-btn:hover{
    background: linear-gradient(
        to left bottom,
        rgba(15, 212, 15, 0.8),
        rgba(2, 116, 17, 0.8));
    color: white;
    cursor: pointer;
}



.how-box{
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.5);
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s;

}

.how-box:hover{
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.5);
}
.how-box p {
    align-self: center;
    justify-self: center;
    text-align: center
}

.how-box i {
    font-size: 2.3rem;
    align-self: center;
    justify-self: center;
}



.step1{
    grid-column: 2 / 3;
    height: 80%;
    z-index: 4;
    align-self: center;
    
    
}

.step2 {
    grid-column: 3 / 4;
    grid-row: 1;
    height: 80%;
    z-index: 2;
    align-self: center;
}

.step3 {
    grid-column: 4 / 5;
    grid-row: 1;
    height: 80%;
    z-index: 3;
    align-self: center;
}

.step4 {
    grid-column: 5 / 6;
    grid-row: 1;
    height: 80%;
    z-index: 1;
    align-self: center;

}




/* BECOME A CANDIDATE */

.candidate-container{
    padding: 30px;
    background: #56755C;
    color: white;
    text-align: center;
}


/* NEWSLETTER */
.news-container{
    padding: 30px;
    height: 100px;
    text-align: center;
}

.news-form{
    background: #56755C;
    border-radius: 3px;
    height: auto;
    padding: 20px;
    display: grid;
    margin: 10px auto;
    width: 40%;

}

.news-form form {
    width: 100%;
    text-align: center;


}

.news-form input{
    height: 30px;
    border-radius: 3px;
    width: 50%;
    padding: 5px;
    margin: 5px;
    border: 2px solid white;
    

}
.news-form button{
    border: 2px solid #fff;
    height: 50px;
    outline: none;
    margin: 0 20px;
    background: transparent;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1.5rem;
    transition: 0.5s;
}

.news-form button:hover{
    background: #fff;
    color: black;
}


/* FORMS CONTAINER */
.forms-container{
    display: grid;
    grid-template-columns:  1fr 1fr 50px  1fr 1fr;
    grid-template-rows: 110px 30px 20px auto auto 20px;
}

.img-container{
    grid-column: 3 / 4;
    grid-row: 2 / 4;
    z-index: 1;
}

.img-container img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


 
.form-box{
    grid-column: 2 / 5;
    grid-row: 3 / 5;
    background: #56755C;
    justify-self: center;
    padding: 20px 90px;
    max-width: 500px;
    border-radius: 5px;
}

.form-box form{
    margin-bottom: 10px;
    text-align: center;
}

.form-box h2{
    text-align: center;
    margin-bottom: 20px;
}

.form-box form input{
    width: 100%;
    margin-bottom: 20px;
}

.form-box input{
    border: 1px solid #17252a;
    background: #fff;
    outline: none;
    height: 30px;
    color: #111;
    font-size: 1rem;
}
.form-box h2{
    color: #fff;
}

.form-box button{
    background: transparent;
    border: 2px solid white;
    transition: 0.5s;
}

.form-box button:hover{
    background: #fff;
    color: black
}

.form-box p{
    font-size: 1rem;
    text-align: center;
    margin: 5px;
}


.form-box a{
    color: #fff;
}

.form-box a:hover{
    color: var(--btn);
    cursor: pointer;
}

/* PAGINATION */


.center {
    text-align: center;
  }

.pagination {
    display: inline-block;
    margin: 10px;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  .pagination a.active {
    background-color:  #3c9848;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}


/* FOOTER */

.space{
    height: 100px;
}

.space2{
    height: 30px;
}
footer{
    position:  fixed;
    z-index: 10;
    bottom: 0;
    padding: 1px;
    text-align:center;
    width: 100%;
    height: 40px;
    background: #3c9848;
    color: #fff;
    
  }

  footer p{
      margin: 10px 0;
  }
  
  footer a {
    text-decoration: none;
    
  }

/* ADMIN OPTION BOX */
#admin-options-container{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.admin-option{
    background: #3c9848;
    margin: 0 20px;
    margin-bottom: 10px;
    padding: 10px 20px;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}

.admin-option:hover{
    background: #26c93c;
    cursor: pointer;
}
/* ADMIN FORM */
.admin-form{
    background: lightgray;
    width: 50%;
    text-align: center;
    margin: 20px auto;
    border-radius: 5px;
    padding: 30px;
}

.admin-form label{
    text-align: left;
}

.admin-form input{
    width: 100%;
    height: 40px;
}

.admin-form input[type="file"]{
    text-align: left;
}

.admin-form select{
    width: 100%;
    height: 40px;
}


.no-candidate{
    color: red;
}

#vote-gif{
    width: 100%;
    height: auto;
    padding: 20px 20px;
}


.run-form table{
    margin: 0 auto;
    transition: 1s;
}

.interest-form{
    margin: 0;
    padding: 10px;
}


.interestee{
    width: 100%;
    
}


.run-form button{
    margin: 10px auto;
}
.run-form {
    width: 80%;
}

.run-form tr{
    background: white;
    color: black;
}




.run-form td{
    width: 33.3%;
}

.admin-form button{
    height: 40px;
    width: 250px;
    outline: none;
    margin: 10px 20px;
    background: #3c9848;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: 0.5s;
    
}

.admin-form button:hover{
    background: #fff;
    color: black
}

.editPartyName:focus{
    background: #fff;
    border: 2px solid black;
}

.edit-present{
    background: #ff0000;
    color: white;
    border-radius: 5px;
    transition: 5s;
    opacity: 1;
}

.err{
    background: #ff0000;
    color: white;
    border-radius: 5px;
    transition: 5s;
    opacity: 1;
    width: 100%;
    font-size: 1.2rem;
}

.msg{
    background: #26c93c;
    color: white;
    border-radius: 5px;
    font-size: 1.2rem;
}

.remove{
    opacity: 0;
}

#edit-success{
    background: #26c93c;
    color: white;
    border-radius: 5px;
}
.loader-center{
    display: block;
    margin: auto;
    text-align: center;
}

.loader {
    border: 5px solid #f3f3f3; 
    border-top: 5px solid #26c93c;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 0.5s linear infinite;
  }

  .loader2{
    border: 5px solid #26c93c; 
    border-top: 5px solid #f3f3f3;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 0.5s linear infinite; 
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media(max-width:780px){
    body{
        font-size: 1rem;
    }

    .bars{
        display: block;
        align-self: center;
        justify-self: center;
    }

    .nav-item a{
        border-bottom: none;
    }

    

    .nav-content{
        position: absolute;
        background: #172a31;
        padding: 5px;
        display: block;
        opacity: 1;
        top: 30px;
        right: 0;
        text-align: center;
        z-index: 1000;
        transition: 0.4s;
        border: 1px solid
    }

    .nav-content-item{
        display: flex;

    }

    .nav-animate{
        opacity: 0;
        display: none;
    }

    .nav-item{
        display: block;
        padding: 5px;
    }

    .nav-item a{
        margin: 0 10px;
        padding: 10px;
        color: #fff;
        font-size: 12px;
       
    }
    
    

    

}

@media(max-width:480px){


    .howToVote-container {
        height: 400px;
        padding: 30px;
        
    }

    .candidate-container{
        height: 400px;
    }

    .howToVote{
        grid-template-rows: auto auto;
        height: 300px
        
    }

    .step1{
        grid-column: 2 / 6; 
        height: 100%;
    }

    .step2{
        grid-column: 5 / 11;
        height: 90%;
    }

    .step3 {
        grid-column: 1 / 5;
        grid-row: 2;

    }
    
    .step4 {
        grid-column: 5 / 10;
        grid-row: 2;
        height: 100%;
    
    }

    .form-box p{
        font-size: 0.7rem;
    }

    .hdr-bkg nav{
        margin: 0 20px;
        justify-content: space-around;
    }
      
    .news-container{
        height: 200px;
    }

    .news-form{
        margin: auto;
        padding: 20px;
        width: 70%;
    }

    .news-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .news-form form button{
        margin: 5px;

    }
  
  button{
        width: 100px;
    }

    .pagination{
        font-size: 0.6rem
    }

    .pagination a {
        padding: 2px 8px;
      }
}