.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  padding-top: 15%; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}


@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb8b4;
  color: white;
}

.modal-body {
  padding: 2px 16px;
  text-align: center

}

.modal-body button {
    margin: 10px;
}

.yes{
  background: #e91313;
  font-size: 1rem;
  font-weight: 900;
  transition: 0.3s;
}

.yes:hover{
  background: #ff0000;
}

.no{
  color: #fff;
  font-size: 1rem;
  font-weight: 900;
  transition: 0.3s;
  background: green;

}

.no:hover{
  background: rgb(0, 190, 0);
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb8b4;
  color: white;
}

#delete-modal .modal-header,  #delete-modal .modal-footer {
  background-color: #e91313;
}

.delete-party i{
  font-size: 1rem;
  transition: 0.3s;
}

.delete-party i:hover{
  font-size: 1.2rem;
}

#delete-modal h4{
  font-size: 1.3rem;
  margin: 10px auto;
}

/* MODAL FORM */

#edit-modal .modal-content{
  width: 40%;
}

.edit-party i{
  font-size: 1rem;
  transition: 0.3s;
}

.edit-party i:hover{
  font-size: 1.2rem;
}

#edit-modal .modal-body form{
  display: grid;
  justify-content: center;
}

#edit-modal form p {
  display: flex;
}

#edit-modal form label{
  text-align: right;
  width: 140px;
  margin-right: 10px
}

#edit-modal form input[type="file"]{
  margin: 0;
}

#edit-modal form input[type="submit"]{
  margin: 10px;
  margin-left: 150px;
  background: green;
  color: white;
  font-size: 1rem;
}

#edit-modal form input[type="submit"]:hover{
  background: rgb(0, 190, 0);
}

@media(max-width: 780px){
  #edit-modal .modal-content{
    width: 70%;
  }

  #edit-modal .modal-body form{
    display: grid;
  }
}

@media(max-width: 480px){
  .modal{
    padding-top: 50%;
    padding-left: 10%;
  }

  .modal-header {
    font-size: 0.7rem;
  }

  .close {
    font-size: 18px;
    font-weight: bold;
  }

  #edit-modal .modal-content{
    width: 90%;
  }

  #delete-modal .modal-content{
    width: 90%;
  }

  #delete-modal button{
    width: 30%;
    height: 25%;

  }

  #edit-modal form p {
    display: flex;
    flex-direction: column;
    justify-self: left;
    margin: 0 auto;
  }

  #edit-modal form label{
    text-align: left;
    margin-bottom:3px;
    font-size: 1rem;
  }

  #edit-modal form input[type="text"]{
    width: 200px;

  }

  #edit-modal form input[type="file"]{
    width: 200px;

  }

  #edit-modal form input[type="submit"]{
    margin: 10px auto;
  
  }
  
  #delete-modal h2{
  font-size: 1rem;
}
  
  #delete-modal h4{
    font-size: 1rem;
    margin: 5px ;
  }
}

