table{
    border-collapse: collapse;
    border-radius: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 20px ;
    
}

th{
    white-space: nowrap;
    text-align: left;
    background: var(--btn);
    color: #fff;
    width: 250px;
    height: 50px;
    padding: 5px 10px;
}


tr{
    background-color: lightgrey;
    border-bottom: 1px solid #ffffff;
    border-radius: 3px;
    
}

tr:hover{
    background-color: rgb(168, 167, 167);
}

td {
    padding: 5px 10px;
    width: 100px;
    height: 40px;
}

/* Acordion */

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.5s;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 50px;
    font-size:  1.3rem;
    font-weight: bold;
    background: #3AAFA9;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .acc-active, .accordion:hover {
    background-color: rgb(42, 75, 87);
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    background-color: white;
    display: none;
    padding: 3px;
  }

  .panel option{
      background: #fff;
      font-size: 1rem;
  }

  .panel form p{
        display: flex;
        align-items: center;
        margin: 10px;
  }

  .panel form label{
      width: 120px;
      text-align: right;
      margin-right: 10px;
      
  }

  .panel form input[type="file"]{
    margin: 0;

}

.panel form input[type="text"]{
    margin: 0;
    
}

  .panel form input[type="submit"]{
      margin-left: 140px;
  }


  /* SECTIONS */

@media(max-width:480px){
    .accordion{
        font-size: 1rem
    }

    th{
        font-size: 0.9rem;
    }

    td{
        font-size:0.7rem
    }
    .panel form label{
        display: inline-block;
    }
  
    .panel form input[type="file"]{
      margin-left: 10px;
  }
  
    .panel form input[type="submit"]{
        margin-left: 110px;
    }

    .party-table, .party-join-table, .candidate-join-table, .create-party {
        overflow: scroll;
    }
}

