table{
    border-collapse: collapse;
    border-radius: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 20px auto;
    text-align: center;

    
}

th{
    white-space: nowrap;
    text-align: center;
    background: #3C9848;
    color: #fff;
    width: 250px;
    height: 50px;
    padding: 5px 10px;
}

.serial-num{
    width: 10px;
}



tr{
    background-color: lightgrey;
    border-bottom: 1px solid #ffffff;
    border-radius: 3px;
    
}

tr:hover{
    background-color: rgb(168, 167, 167);
}

td {
    padding: 5px 10px;
    width: 100px;
    height: 40px;
}

td img{
    width: 50px;
    height: 50px;
    border: 2px solid #3C9848;
    border-radius: 50%;
}




/* Acordion */

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.5s;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 50px;
    font-size:  1.3rem;
    font-weight: bold;
    background: transparent;
    border-bottom: 2px solid #587A5F;
    color: black
  }
  
  .acc-active, .accordion:hover {
    background-color: #587A5F;
    color: #fff;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    background-color: white;
    display: none;
    padding: 3px;
    text-align: center;
  }

  .panel option{
      background: #fff;
      font-size: 1rem;
  }

  .panel form p{
        margin: 0;
  }

  .panel form input[type="*"]{
      margin-bottom: 10px;
  }

  .panel form input[type="file"]{
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 20px;
  }

 

.panel form select, .panel form option{
    font-size: 1.2rem;
}


  .panel form input[type="submit"], .create-party-btn{
    font-size: 1.2rem;
    margin: 10px 30px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background: rgb(0, 53, 51);
    transition: 0.5s;
    width: 250px;
  }
  .panel form input[type="submit"]:hover, .create-party-btn:hover{
    background:  rgb(15, 165, 160);
}


  /* SECTIONS */

@media(max-width:480px){
    .accordion{
        font-size: 1rem;
        height: 30px;
        padding: 0 10px;
        font-weight: 600
    }

    th{
        font-size: 0.9rem;
        height: 30px;
    }

    td{
        font-size:0.9rem
    }
    .panel form label{
        display: inline-block;
    }
  
    .panel form input[type="file"]{
      margin-left: 10px;
  }
  
    .panel form input[type="submit"]{
        margin-left: 110px;
    }

    .panel{
        overflow: scroll;
    }

    .panel form p{
        display: block;
        margin: 5px;
  }

  .panel form label{
      text-align: left;
      font-size: 1rem;
      margin-bottom: 3px;
      width: auto;
  }

  .panel form input[type="file"]{
    margin: 0;
    font-size: 1rem;
    width: 250px;

}

.panel form select, .panel form option{
    font-size: 1rem;
}


  .panel form input[type="submit"]{
      margin-top: 10px;
      margin-left: 5px;
      font-size: 1rem;
  }

}

