* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.main-container{
    display: flex;
    height: auto;
    width: 100%;
}

/* Style the tab */
.tab {
    float: left;
    background-color: #f1f1f1;
    width: 20%;
    height: 100%;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8)

  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    display: flex;
    background-color: inherit;
    color: black;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #111;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    padding: 10px;
    white-space: nowrap;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }

  
  
  /* Create an active/current "tab button" class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    padding: 10px;
    width: 98vw;
    height: 100vh;
  }

  .icon{
      margin: 0 10px;
  }

  .text{
      margin: 0 10px;
  }


  @media(max-width: 480px){
    
    .tab {
        width: 10%;
        transition: 0.3s;
        overflow: hidden;
      }

      .tab:hover, .tab:focus {
        width: 25%;
      }

      .icon{
        margin: 0 5px;
    }
  
    .text{
        margin: 0 11px;
        font-size: 10px;
    }

  }


  @media(max-width: 375px){
    .tab {
        position: absolute;
        top: 40px;
        width: 10%;
        transition: 0.3s;
        overflow: hidden;
        height: auto;
    }

    .tab button {
        padding: 5px;
    }


      .tab:hover, .tab:focus{
        width: 35%;
      }


      .icon{
        margin: 0 10px;
        font-size: 12px;
    }

    .tabcontent{
        width: 90%;
    }

    .tabcontent{
        margin-left: 10%;
    }
  
    .text{
        margin: 0 10px;
        font-size: 12px;
    }

  }

  @media(max-width: 375px){
    .text{
        margin: 0 10px;
        font-size: 10px;
    }
  }