.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    padding-top: 15%; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  

  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #5cb8b4;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb8b4;
    color: white;
  }


/* MODAL FORM */

#edit-modal .modal-content{
  width: 40%;
}

.edit-party i{
  font-size: 1rem;
  transition: 0.3s;
}

.edit-party i:hover{
  font-size: 1.2rem;
}

#edit-modal .modal-body form{
  display: grid;
  justify-content: center;
}



#edit-modal form p {
  display: flex;
}

#edit-modal form label{
  text-align: right;
  width: 140px;
  margin-right: 10px
}

#edit-modal form input[type="file"]{
  margin: 0;
}

#edit-modal form input[type="submit"]{
  margin: 10px;
  margin-left: 150px;
  background: green;
  color: white;
  font-size: 1rem;
}



#edit-modal form input[type="submit"]:hover{
  background: rgb(0, 190, 0);
}

@media(max-width: 780px){
  #edit-modal .modal-content{
    width: 60%;
  }

  

  #edit-modal .modal-body form{
    display: grid;
  }
}

@media(max-width: 480px){
  #edit-modal .modal-content{
    width: 80%;
  }

  #edit-modal form p {
    display: flex;
    flex-direction: column;
    justify-self: left;
  }

  #edit-modal form label{
    text-align: left;
    margin-bottom:5px;
  }

  #edit-modal form input[type="submit"]{
    margin: 10px auto;
  
  }
}

@media(max-width: 320px){
  #edit-modal .modal-content{
    width: 90%;
  }
}
